#include "/home/jn/.colors/erosionedit"
!Xft.autohint: 0
!Xft.lcdfilter:  lcddefault
!Xft.hintstyle:  hintfull
!Xft.hinting: 1
!Xft.antialias: 1
!Xft.dpi: 96
!Xft.rgba: rgb

!URxvt*font: xft:Anonymous Pro:pixelsize=12
!URxvt*boldFont: xft:Anonymous Pro:bold:pixelsize=12
!URxvt*font: xft:UniProg:pixelsize=11
!URxvt*boldFont: xft:UniProg:bold:pixelsize=11
!URxvt*font: xft:PragmataPro:pixelsize=11
!URxvt*boldFont: xft:PragmataPro:bold:pixelsize=11
!URxvt*font: xft:Mynaco:pixelsize=10
!URxvt*boldFont: xft:Mynaco:bold:pixelsize=10
!URxvt*font: xft:Monaco:pixelsize=10
!URxvt*boldFont: xft:Monaco:bold:pixelsize=10
!URxvt*font: xft:Ubuntu Mono:pixelsize=12
!URxvt*boldFont: xft:Ubuntu Mono:bold:pixelsize=12
URxvt*font: xft:Envy Code R:medium:pixelsize=9
URxvt*boldFont: xft:Envy Code R:medium:bold:pixelsize=9
!URxvt*font: xft:Inconsolata:pixelsize=10
!URxvt*boldFont: xft:Inconsolata:bold:pixelsize=10
URxvt*letterSpace: 0

! Colour scheme
!URxvt.background:  [85]#000000
!URxvt.background:  #000000
!URxvt.foreground:  #ffffff
!urxvt*color0: #101010
!urxvt*color1: #f13a21
!urxvt*color2: #93f91d
!urxvt*color3: #ffd00a
!urxvt*color4: #004f9e
!urxvt*color5: #ec0048
!urxvt*color6: #2aa7e7
!urxvt*color7: #f2f2f2
!urxvt*color8: #565658
!urxvt*color9: #ff361e
!urxvt*color10: #ffc005
!urxvt*color11: #93ff00
!urxvt*color12: #0071ff
!urxvt*color13: #ef0051
!urxvt*color14: #4bb8fd
!urxvt*color15: #a020f0

URxvt.scrollBar: false
URxvt.scrollTtyOutput: false
URxvt.scrollTtyKeypress: true
URxvt.saveLines: 65535
URxvt.scrollWithBuffer: true
!URxvt.iconFile: /usr/share/icons/Faenza/apps/scalable/terminal.svg
URxvt.perl-ext-common: default,matcher,clipboard
URxvt.url-launcher: aurora
URxvt.matcher.button: 1
URxvt.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]
URxvt.cursorUnderline: true
URxvt.cursorBlink: true
Urxvt.geometry: 200x60
URxvt*urgentOnBell: true
URxvt.clipboard.copycmd:  xclip -o -sel p | xclip -sel c -i
URxvt.clipboard.pastecmd: xclip -sel c -o
URxvt.clipboard.autocopy: true
urxvt*internalBorder: 5
urxvt*depth: 32
